<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="访问量测试页面">xx</title>
    <style>
        #form{
         text-align: center;
            background-color: #dbe3e4;
        }
    </style>
</head>
<body>


<h1>表单提交</h1>
<!-- 表单提交用户信息,注意字段的设置,直接是*{} -->
<form action="/add" method="post">
    <p>url: <input width="200px" type="text" name="url" /></p>
    <p>数量: <input type="text" name="num" /></p>
    <input type="submit" value="提交" />
</form>
</body>
</html>